a:link 
{ 
text-decoration:none; 
} 

a { 
	color: inherit; 
}

#logo {
	width: 60px;
	height: 60px;
}
#navbar {
	background-color: black;
	color: white;
}
.navbar {
	text-align: center;
}
#navbar a {
  color: lightgrey;
  font-size: 20px;
}
#navbar a:hover {
  color: white;
}
@font-face {
	font-family: "painterz";
	src: url("fonts/painterz.ttf");
}

#big-title {
	font-family: "painterz";
	font-size: 6.5rem;
	text-align: center;
	}

#banner {
	background-color: black;
	color:white;
	padding-bottom: 1px;
}
#banner p {
	text-align: center;
}

#evenement {
	background: #070000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#evenement {
	width: 100vw;
}
.description-evenement {
	background-color: white, 255;
	color: white;
	padding: 70px 70px 70px 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid white;
	text-align: justify;
	width: 700px
	
}
.btn-secondary {
  color: white;
  background-color: grey;
  border-color: grey;
}

.btn-secondary:hover {
  color: grey;
  background-color: white;
  border-color: white;
}

#programmation {
	height: 100vh
}
.liste-artistes{
	background-color: white;
}
#prix {
	height: 100vh;
}
#webzine {
	height: 100vh;
}
#little-simz {
	height: 300px;
	width: auto;
}
.little-simz {
	text-align: justify;
}
#romeo {
	height: 100px;
	width: auto;
}
#doums {
	height: 100px;
	width: auto;
}
#future {
	height: 100px;
	width: auto;
}
.articles {
	padding-left: 10px;
}
.marge-a {
	margin-top: 10px;
}

#quisommesnous {
	text-align: justify;
	
}

.mep {
	padding-right: 50px;
	padding-left: 80px;
}

#equipe {
	height: 500px;
	width: auto;
	margin-bottom: 50px;
}
#questionnaire {
	height: 90vh;
}

.réseaux {
	width: 60px;
	height: 60px;
	margin: 0px;
}
#facebook {
	color: blue;
	width: 60px;
	height: 60px;
}
#youtube {
	color: red;
	width: 60px;
	height: 60px;
}
#soundcloud {
	color: orange;
	width: 60px;
	height: 60px;
}
#mixcloud {
	color: white;
	width: 60px;
	height: 60px;
}

#footer {
	text-align: center;
	color: #FFFFFF;
	background-color: black;
}
ul {
	margin:0px;
}
